#notifyme .main {
  background-color: #000;
  border-width: 1px;
  color: #CCC;
  padding: 10px;
  opacity: 0.7;
}

#notifyme .message {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#notifyme .summary {
  font-weight: bold;
}

#notifyme .body {
  padding-top: 5px;
}

#notifyme .actions button {
  background-color: #444;
  background-image: none;
  border-color: #222;
  border-width: 1px;
  box-shadow: none;
  color: #CCC;
  margin-left: 10px;
  opacity: 1;
}
